h1 {
    text-align: center;
    margin: 30px;
    font-size: 40px;
    color: yellow;
    font-style: italic;
}

body {
    margin-left: 110px;
    margin-right: 110px;
    background-color: rgb(64, 200, 224);
}

.description {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.button-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100px;
    height: 50px;
    display: flex;
}

.reset {
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.outside-container {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: rgba(252, 77, 64, 0.89);
    width: 700px;
}

.container {
    width: 640px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.column {
    display: flex;
    flex-grow: 1;
}

.column:hover {
    background-color: black;
}